@import "~bootstrap/scss/bootstrap";
@import "~bootstrap-icons/font/bootstrap-icons.scss";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

$colorYellowPrimary: #fcc601;
$colorYellowSecondary: #ffe76c;
$colorYellowTertiary: #afb09e;
$colorGreyPrimary50: #fafafa;

$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px,
);
$borderRadius: 2px;
$borderWidth: 2px;

@mixin poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
}

@mixin poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
}

@mixin poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

@mixin poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

@mixin poppins-medium($size: 24px) {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: $size;
}

@mixin poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

@mixin poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

@mixin poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
}

@mixin poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
}

@mixin poppins-thin-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: italic;
}

@mixin poppins-extralight-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: italic;
}

@mixin poppins-light-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
}

@mixin poppins-regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
}

@mixin poppins-medium-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
}

@mixin poppins-semibold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
}

@mixin poppins-bold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
}

@mixin poppins-extrabold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
}

@mixin poppins-black-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: italic;
}

@mixin flex($d: row, $j: center, $a: center) {
    display: flex;
    justify-content: $j;
    align-items: $a;
    flex-direction: $d;
}

@mixin size($w, $h: $w) {
    width: $w;
    height: $h;
}

body {
    margin: 0;
}

.container {
    background-color: $colorGreyPrimary50;
    margin: 0;
    max-width: 100% !important;
}

.title {
    @include flex;
    @include poppins-medium;
    font-size: 24px;
    margin: 0;
    margin-bottom: 24px;
    padding: 16px;
    color: $colorYellowPrimary;
    border: solid $borderWidth $colorYellowSecondary;
    border-radius: $borderRadius;
    box-sizing: border-box; /* make inset border */
}

/* Styles setup based on breakpoints */
@include media-breakpoint-down(md) {
    .container {
        padding: 24px;
    }
    .title {
        width: 100%;
    }
}

@include media-breakpoint-up(md) {
    .container {
        padding: 24px 104px !important;
    }
    .title {
        $gapSize: 24px;
        $colNum: 12;
        $columnSize: calc((100% + $gapSize) / $colNum - $gapSize);
        width: calc($columnSize * 6 + $gapSize * 5);
    }
}

.card-title.h5 {
    @include poppins-bold;
    font-size: 24px;
    margin-bottom: 8px;
}

.card-subtitle.h6 {
    @include poppins-semibold;
    font-size: 24px;
    color: $colorYellowPrimary;
    margin-bottom: 8px;
}

// font regular 16px
[class^="fr-16"] {
    @include poppins-regular;
    font-size: 16px;
}
